<app-header title="Lista de Opciones"></app-header>

<ion-content>
  <app-refresh-page (response)="reloadData($event)"></app-refresh-page>
  <ion-list>
    <h2 class="textCenter">Todos</h2>
    <ion-item *ngFor="let item of data">
      <ion-label>
        <h2>{{item.title}}</h2>
      </ion-label>
      <ion-chip slot="end" color="{{item.completedColor}}">
        <ion-label>{{item.completedLabel}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll
    *ngIf="scroll"
    threshold="100px"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando mas datos..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
